body, html{
    margin: 0;
    padding: 0;
    background-color: rgb(50,50,50);
    overflow:"hidden";
}

#canvas{
    background-color: rgb(31, 31, 31);
    margin: 0;
    width: 100%;
    height: 100%;
    overflow:"hidden";
    padding: 0;
}

#wrapper{
    width: 100hh;
    height: 100vh;
    overflow:"hidden";
    padding: 0;
    margin: 0;
}

#controlPanel{
   
    width:100%;
    background-color: rgb(72, 72, 72);
    border-bottom: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    position: relative;
}

#buttons{
    width:100%;
    display:flex;
    flex-wrap: wrap;
}

#info{
    height:"30px";
    padding:0px 5px 2px 5px;
    width: 100%;
    color: white;
    background-color: rgba(0,0,0,1);
    margin: 0px
}

#displayWrap{
    display: none;
    height: 600px;
    width: 200px;
    background: rgb(100,100,100);
    margin: 10px;
}

#display{
    font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
    font-size: 10px;
    margin: 5px;
}
.btn {
    border: none;
    outline: none;
    
    background-color: #f1f1f1;
    cursor: pointer;
    margin:1px;
  }

.active{
    background-color: #666;
    color: white;
}